@charset "UTF-8";

a:link{color: lightgray}
a:visited{color: lightgray}
a:active{color:lightgray}

#a{font-size: 1rem; text-decoration: none;}

#box{
	width: 200px;
	height: 200px;
	background-color: aqua;
}
