@charset "UTF-8";

a:link{color: black}
a:visited{color: black}
a:active{color:black}

a{font-size: 1rem; text-decoration: none;}

ul{
	list-style: none;
	width: 500px;
	margin: 10px auto;
	padding: 0px;
}

li{
	display: inline-block;
	width: 120px;
	border: 1px solid #ccc;
	padding: 10px 15px;
	text-align: center;
}

#result{
	width: 500px;
	height: 300px;
	margin: 30px auto;
	border: 2px solid #ccc;
}